<div class="row"><div class="small-12 columns">
  <div class="as-tl-breadcrumbs">
    <ul>
	    <li><a href="#" id="draft-state-action" {{action 'stateChange' 'unpublish'}}>
        Draft
        {{tool-tip tagName="i" class="fa fa-info-circle description-trigger"
        tip="Put your assignment into Draft state"
        position="bottom left"}}
      </a></li>
      <li><a href="#" id="private-state-action" {{action 'stateChange' 'prioritize'}}>
        Private
        {{tool-tip tagName="i" class="fa fa-info-circle description-trigger"
        tip="Put your assignment into Draft state"
        position="bottom left"}}
      </a></li>
	    <li><a href="#" id="public-state-action" {{action 'stateChange' 'publish'}}>
        Public
        {{tool-tip tagName="i" class="fa fa-info-circle description-trigger"
        tip="Put your assignment into Draft state"
        position="bottom left"}}
      </a></li>
	    <li><a href="#" id="ongoing-state-action" {{action 'stateChange' 'progress'}}>
        Ongoing
        {{tool-tip tagName="i" class="fa fa-info-circle description-trigger"
        tip="Put your assignment into Draft state"
        position="bottom right"}}
      </a></li>
	    <li><a href="#" id="closed-state-action" {{action 'stateChange' 'close'}}>
        Closed
        {{tool-tip tagName="i" class="fa fa-info-circle description-trigger"
        tip="Put your assignment into Draft state"
        position="bottom right"}}
      </a></li>
	    <li><a href="#" id="completed-state-action" {{action 'stateChange' 'complete'}}>
        Completed
        {{tool-tip tagName="i" class="fa fa-info-circle description-trigger"
        tip="Put your assignment into Draft state"
        position="bottom right"}}
      </a></li>
    </ul>
  </div>
</div></div>