{{!-- Warning! This component *needs* to be passed an account ID in order to work --}}

{{#if small}}
  <span>
    <small class="text-center">
    {{#link-to 'account.show' usr.account.id}}
      {{libravatar-image email=usr.email secure=false
        alt=usr.account.display_name size=50 defaultImage='retro'}}
      <br>
      {{#if usr.account.display_name}}
        {{usr.account.display_name}}
      {{else}}
        {{!--usr.account.fake_display_name--}}
        Display Name
      {{/if}}
    {{/link-to}}
    </small>
  </span>
{{else}}
  <span>
    <small>
    {{#link-to 'account.show' usr.account.id}}
      {{libravatar-image email=usr.email secure=false
        alt=usr.account.display_name size=30 defaultImage='retro'}}
      {{#if usr.account.display_name}}
        {{usr.account.display_name}}
      {{else}}
        {{usr.account.fake_display_name}}
      {{/if}}
    {{/link-to}}
    posted this at 2015-07-11
    </small>
  </span>
{{/if}}
