<h5>New assignment</h5>

<form id="newassignment" {{action 'submitAssignment' on='submit'}}>
  {{#each flashes.queue as |flash|}}
    {{flash-message flash=flash messageStyle='foundation' class='radius'}}
  {{/each}}

  <label for="title">Title</label>
  {{input id='title' placeholder='Enter a title'
          value=newAssignment.title}}
  <label for="description">Description</label>
  {{textarea id='description' placeholder='Description' value=newAssignment.description}}
  <div class="row">
    <div class="small-12 columns">
      <label>Assignment language(s)</label>
      {{select-2
          content=languages_select
          value=newAssignment.language_ids
          multiple=true
          optionValuePath="id"
          optionLabelPath="common"
          placeholder="What languages are necessary for the assignment?"
      }}
    </div>
    <div class="small-12 columns">
      <label for="location">Assignment location(s)</label>
      {{input id='location' placeholder='Enter your location'
          value=newAssignment.location}}
    </div>
    <div class="small-12 columns">
      <label>Assignment skill(s)</label>
      {{select-2
          content=skills_select
          value=newAssignment.skill_ids
          multiple=true
          optionValuePath="id"
          placeholder="What type of assignment is this?"
      }}
    </div>
    <div class="small-12 columns">
      <label>Reward(s)</label>
      {{select-2
          content=rewards_select
          placeholder="Reward?"
          value=newAssignment.assignment_reward_ids
          multiple=true
          optionValuePath="id"
          optionLabelPath="reward"
      }}
    </div>
  </div>
  <hr>
  <button id="submit" type="submit" class="pull-right">Send</button>
  <button id="cancel" class="pull-right secondary" {{action 'cancel'}}>Cancel</button>
  {{!--
  <button {{action "dangerAction"}}>Test</button>
  <button {{action "successAction"}}>Test</button>
  <button {{action "warningAction"}}>Test</button>
  <button {{action "infoAction"}}>Test</button>
  <button {{action "customAction"}}>Test</button>
  --}}
</form>
<script type="text/javascript">
    $('#location').jeoCityAutoComplete();
</script>
