{{#each assignment in model}}
    <li class="post text-left">
      <div class="row">
        <div class="columns small-4">
          {{user-byline modelName='assignment' small=true}}
        </div>
        <div class="columns small-8">
        {{#link-to "assignments.show" assignment}}
          <span class="post_title">
            {{assignment.title}}
            <br>
            <small> {{cut-string 30 "Lorem ipsum description here"}} </small>
          </span>
          <span class="left_icons">
            {{#each type in assignment.assignment_types}}
              {{fa-icon type.icon}}
            {{/each}}
           </span>
          <span class="right_icons">
            {{#each reward in assignment.assignment_reward}}
              {{fa-icon reward.icon}}
            {{/each}}
          </span>
        {{/link-to}}
        </div>
      </div>
    </li>
{{/each}}
